In [6]:
import os
import pymysql
import pandas as pd

conn = pymysql.connect(
    host="localhost",
    user="root",
    passwd="root",
    db="THESAURUSDB")

In [25]:
df = pd.read_sql_query(
    "SELECT COUNT(*) FROM TREVISION",
    conn)
df.head(1)

   COUNT(*)
0      8770

In [ ]:
df = pd.read_sql_query(
    "SELECT COUNT(*) FROM TUSER",
    conn)
df.head(1)

In [26]:
df = pd.read_sql_query(
    "SELECT COUNT(*) FROM TTHESAURUS",
    conn)
df.head(1)

   COUNT(*)
0       423

In [27]:
df = pd.read_sql_query(
    "SELECT TUSER.userName,COUNT(*) AS NB FROM TREVISION, TUSER WHERE TUSER.id=TREVISION.idUser GROUP BY idUser Order by NB DESC",
    conn)
df.head(50)

                  userName   NB
0             Stephane8888  943
1                 Jpgibert  725
2                   Oimabe  365
3          Classiccardinal  339
4       ArséniureDeGallium  324
5                      Noé  281
6   Un naturaliste du Midi  248
7                JackPotte  246
8                     Eiku  236
9            Benoît Prieur  229
10                  Lyokoï  224
11          109.212.233.87  186
12           Castorepollux  164
13               Lepticed7  145
14                Lmaltier  144
15                 Otourly  138
16                Markadet  120
17          Béotien lambda  102
18             Romainbehar   97
19               Automatik   97
20                  Hector   96
21                  MIRROR   91
22                Treehill   90
23                 Pamputt   87
24         109.212.175.211   86
25             Psychoslave   78
26                Rapaloux   78
27                    Cbyd   76
28         109.213.236.231   74
29                 Vaulque   73
30                  Pyxido   70
31           Supreme assis   68
32               Alphabeta   68
33              Darkdadaah   66
34          109.213.98.124   63
35                Nonopoly   59
36               Hildepont   57
37           79.81.159.166   57
38                  Pom445   57
39                    Gtaf   52
40                   Unsui   47
41               Urhixidur   45
42              Breugelius   44
43                  Moyogo   43
44                Patatruc   39
45                Michka B   39
46              NicoScribe   38
47              Quentinv57   37
48              Basnormand   34
49                   Ltrlg   34